<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,400,300|Roboto:300" rel="stylesheet"/>

  <% if (env.production) { %>
    <link rel="stylesheet" href="client/dist/main.css">
  <% } %>

</head>
  <body>
  <div id="js-main"></div>

  <%- body %>

  <% if (env.production) { %>
    <script async src="<%= env.assets.main.js %>"></script>
  <% } else if (env.mobile) { %>
    <script src="http://<%= env.envHost %>:4000/client/main.js"></script>
  <% } else { %>
    <script src="http://localhost:4000/client/main.js"></script>
  <% } %>
  </body>

</html>