@mixin centerer($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

:global {
  .pj-flex-row-align-center {
    display: flex;
    align-items: center;
  }

  .pj-flex-centerer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .pj-flex-container {
    display: flex;
  }

  // absolute utilities
  .pj-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .pj-top-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  .pj-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .pj-bottom-center {
    position: absolute;
    @include centerer(true, false);
    bottom: 0;
  }

  .pj-top-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  .pj-absolute-center {
    @include centerer(true, true);
  }


}